In [23]:
str1 = "hello"

In [24]:
str2 = "world"

In [25]:
str3 = "!"

In [26]:
concat_str = str1 + " "+ str2 + " " + str3

In [28]:
print(len(concat_str))

13

In [29]:
print(concat_str.split())

['hello', 'world', '!']

In [30]:
split_str = concat_str.split()

In [31]:
print(split_str)

['hello', 'world', '!']

In [38]:
# simple loop
for x in split_str:
    if x == "world":
        print("hello, this is world", x)
    print(x)

hello
hello, this is world world
world
!

In [45]:
str1.upper().lower().split("l") #multiple methods

['he', '', 'o']

<h2> formatting </h2>

In [46]:
print("this is using .format {}".format("method"))

this is using .format method

In [47]:
print("this is {a} and {b}".format(a="first", b="second"))

this is first and second

<h2> Lists </h2>

In [48]:
list1 = [1,2,3]

In [49]:
print(len(list1))

3

In [51]:
#loop through list and stdout using .format method
for num in list1:
    print("This is {x}".format(x=num))

This is 1
This is 2
This is 3

In [52]:
list1[0]

1

In [53]:
list1[0:]

[1, 2, 3]

In [54]:
list1[:2] # everything up to index loc 2

[1, 2]

In [55]:
# concat lists
list2 = [4,5,6]
list_sum = list1 + list2
print(list_sum)

[1, 2, 3, 4, 5, 6]

In [56]:
list1

[1, 2, 3]

In [58]:
list1.append(4)

In [59]:
list1

[1, 2, 3, 4]

In [60]:
list1.pop()

4

In [61]:
list1

[1, 2, 3]

In [62]:
list1.reverse()

In [63]:
list1

[3, 2, 1]

In [64]:
list1.sort()

In [65]:
list1

[1, 2, 3]

<h2> Dictionaries </h2>

In [66]:
my_books = {"book1": "Dune", "book2": "Dune2"}

In [67]:
print(len(my_books))

2

In [69]:
#values
print(my_books.values())

dict_values(['Dune', 'Dune2'])

In [70]:
print(my_books.keys())

dict_keys(['book1', 'book2'])

In [73]:
my_books["book1"] # specific key > value

'Dune'

In [78]:
# loop through and provide values
for item in my_books:
    print(my_books[item])

Dune
Dune2

In [83]:
x = my_books["book1"]
print(x.upper())

DUNE

In [84]:
# nested keys
keys = {"top_key": {"nested_key": {"3rd_level": "food"}}}

In [85]:
print(keys)

{'top_key': {'nested_key': {'3rd_level': 'food'}}}

In [90]:
print(keys['top_key'])

{'nested_key': {'3rd_level': 'food'}}

In [92]:
keys['top_key']['nested_key'] # nested keys

{'3rd_level': 'food'}

In [93]:
# return values
keys.values()

dict_values([{'nested_key': {'3rd_level': 'food'}}])

In [94]:
keys.items()

dict_items([('top_key', {'nested_key': {'3rd_level': 'food'}})])

<h2> Tuples </h2>

In [95]:
t = (1,2,3)

In [96]:
# length of tuple
len(t)

3

In [97]:
# index
t[0]

1

In [99]:
t[-1]

3

In [100]:
for num in t:
    print(num)

1
2
3

In [101]:
# tuple built-in methods
t.index(1)

0

In [102]:
t.count(1)

1

<h2> Sets </h2>

In [103]:
# create set
x = set()

In [104]:
type(x)

set

In [105]:
x.add(1)

In [106]:
x.add(1)

In [107]:
x

{1}

In [108]:
x.add(2)

In [109]:
x

{1, 2}

In [110]:
x.add(1)

In [112]:
x # no duplicate values

{1, 2}

In [113]:
# list with duplicate values
dupe_list = [1,2,1,2,1,2,]
# now get rid of dupes
set(dupe_list)

{1, 2}

<h2> Access files </h2>

In [114]:
my_file = open('test.py')

In [115]:
my_file

In [116]:
my_file.read()

'print("hello world")\n'

In [117]:
my_file.read() # doesn't work second time w/o reset cursor

''

In [118]:
# boom, cursor reset > can read again
my_file.seek(0)
my_file.read()

'print("hello world")\n'

In [119]:
# now read AND write!
my_file2 = open('test.py','a+') # append, vs 'w' or 'w+' which will overwrite

In [120]:
my_file2.write("this is a new line")

18

In [121]:
my_file2.seek(0) # cursor reset
my_file2.read()

'print("hello world")\nthis is a new line'

In [123]:
my_file2.seek(0)
print(my_file2.read())
# see the original text line and appended text. behold!

print("hello world")
this is a new line

In [125]:
# iterate through text
for line in open('test.py'):
    print(line)
# because read() was not used, all the text wasn't loaded into memory

print("hello world")

this is a new line

<h1> Python Statements </h1>

In [126]:
# if, elif, else statements
x = 5
if x < 5:
    print("less than 5")
elif x == 5:
    print('5')

5

In [129]:
x = int(input("what #?"))
if x < 5:
    print(" # is < 5")
elif x == 5:
    print("5")
else:
    print("> 5")

what #?4
 # is < 5