In [23]:
str1 = "hello"

In [24]:
str2 = "world"

In [25]:
str3 = "!"

In [26]:
concat_str = str1 + " "+ str2 + " " + str3

In [28]:
print(len(concat_str))

13

In [29]:
print(concat_str.split())

['hello', 'world', '!']

In [30]:
split_str = concat_str.split()

In [31]:
print(split_str)

['hello', 'world', '!']

In [38]:
# simple loop
for x in split_str:
    if x == "world":
        print("hello, this is world", x)
    print(x)

hello
hello, this is world world
world
!

In [45]:
str1.upper().lower().split("l") #multiple methods

['he', '', 'o']

<h2> formatting </h2>

In [46]:
print("this is using .format {}".format("method"))

this is using .format method

In [47]:
print("this is {a} and {b}".format(a="first", b="second"))

this is first and second

<h2> Lists </h2>

In [48]:
list1 = [1,2,3]

In [49]:
print(len(list1))

3

In [51]:
#loop through list and stdout using .format method
for num in list1:
    print("This is {x}".format(x=num))

This is 1
This is 2
This is 3

In [52]:
list1[0]

1

In [53]:
list1[0:]

[1, 2, 3]

In [54]:
list1[:2] # everything up to index loc 2

[1, 2]

In [55]:
# concat lists
list2 = [4,5,6]
list_sum = list1 + list2
print(list_sum)

[1, 2, 3, 4, 5, 6]

In [56]:
list1

[1, 2, 3]

In [58]:
list1.append(4)

In [59]:
list1

[1, 2, 3, 4]

In [60]:
list1.pop()

4

In [61]:
list1

[1, 2, 3]

In [62]:
list1.reverse()

In [63]:
list1

[3, 2, 1]

In [64]:
list1.sort()

In [65]:
list1

[1, 2, 3]

<h2> Dictionaries </h2>

In [66]:
my_books = {"book1": "Dune", "book2": "Dune2"}

In [67]:
print(len(my_books))

2

In [69]:
#values
print(my_books.values())

dict_values(['Dune', 'Dune2'])

In [70]:
print(my_books.keys())

dict_keys(['book1', 'book2'])

In [73]:
my_books["book1"] # specific key > value

'Dune'

In [78]:
# loop through and provide values
for item in my_books:
    print(my_books[item])

Dune
Dune2

In [83]:
x = my_books["book1"]
print(x.upper())

DUNE

In [84]:
# nested keys
keys = {"top_key": {"nested_key": {"3rd_level": "food"}}}

In [85]:
print(keys)

{'top_key': {'nested_key': {'3rd_level': 'food'}}}

In [90]:
print(keys['top_key'])

{'nested_key': {'3rd_level': 'food'}}

In [92]:
keys['top_key']['nested_key'] # nested keys

{'3rd_level': 'food'}